body{
  background-image: url(images/background-blur-clean-531880.jpg);
  color: white;
  font-family: Alegreya Sans SC;
  margin-bottom: 20px;
}

.jumbotron{
  background-color: rgba(64, 131, 64, .9);
}

#train-table{
  background-color: rgba(64, 85, 22, 0.4);
  margin-right: 30px;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: rgba(176, 212, 93, 0.75);
}

.table-heading{
  font-size: larger;
}

#add-train-card{
  background-color: rgba(176, 212, 93, 0.75);
  margin-left: 30px;
}

#add-train{
  background-color: rgba(64, 85, 22, 0.4);
  border: none;
}

#add-train:hover{
  background-color:  rgba(64, 131, 64, .9);
}

.modal .modal-dialog .modal-content{  
  background-color: rgb(176, 212, 93);
  font-size: 150%;
 }